.authorization__container {
  padding: 80px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.authorization__link-to-back {
  position: absolute;
  left: 0;
  top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #676a71;
}
.authorization__link-to-back:hover {
  cursor: pointer; 
  color: #4D4D4F;
}

.authorization__form-repair {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  color: #009cb4;
}
.authorization__form-repair:hover {
  cursor: pointer;
}

.authorization__additional {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.additional__link {
  display: block;
  min-width: 430px;
  text-align: center;
  padding: 20px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #4d4d4f;
  border: 1px solid #ededf4;
  border-radius: 5px;
}
.additional__link:hover {
  cursor: pointer;
  border: 1px solid #009cb4;
  color: #009cb4;
}

.authorization__new-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #4d4d4f;
}
.link-to-new-account {
  color: #009cb4;
}
